<div class="product-info">
    <h1>{{ product.title }}</h1>
    <p>{{ product.description }}</p>
    <img src="{{ product.featured_image |  img_url: 'large' }}" alt="{{ product.title }}">
    <p>{{ product.price |  money }}</p>
</div>
